html, body {
overflow: hidden;
overscroll-behavior: none; 
}
.main {
margin: 20px auto;
max-width: 640px;
background-color: #fdfdff;
}
a:link, a:visited {
color: #38488f;
text-decoration: none;
}
img, canvas {
max-width: 100%;
}
input[type="file"] {
display:none;
}
button[onclick*="()"] {
cursor:pointer;
}
label {
display: block;
}
input, button, select, textarea {
font-family: inherit;
font-size: 16px;
font-weight: bold;
text-transform: uppercase;
padding: 0.5em;
margin: 0 0 0.5em 0;
box-sizing: border-box;
border: 1px solid #ccc;
border-radius: 2px;
}
input:disabled {
color: #ccc;
}
input[type="range"] {
height: 0;
}
button {
color: #333;
background-color: #f4f4f4;
outline: none;
}
button:disabled {
color: #999;
}
button:not(:disabled):active {
background-color: #ddd;
}
button:focus {
border-color: #666;
}
